In [1]:
#astype

In [2]:
import pandas as pd
import seaborn as sns

In [3]:
sns.load_dataset('tips')

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [4]:
tips = sns.load_dataset('tips')

In [5]:
tips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.4 KB

In [12]:
tips['sex'] = tips['sex'].astype(str)

In [13]:
tips['size'].astype('int8')

0      2
1      3
2      3
3      2
4      4
      ..
239    3
240    2
241    2
242    2
243    2
Name: size, Length: 244, dtype: int8

In [14]:
tips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    object
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
dtypes: category(3), float64(2), int64(1), object(1)
memory usage: 8.9+ KB

In [16]:
tips = sns.load_dataset('tips')

In [20]:
tips.loc[[1,3,5,7],'total_bill'] = ' '

In [21]:
tips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    object
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
dtypes: category(4), float64(1), int64(1), object(1)
memory usage: 7.4+ KB

In [22]:
tips['total_bill'].astype(float)

ValueError: could not convert string to float: ' '

In [24]:
pd.to_numeric(tips['total_bill'],errors='coerce') #문자가 있으면 Nan값으로 바꿔준다.

0      16.99
1        NaN
2      21.01
3        NaN
4      24.59
       ...
239    29.03
240    27.18
241    22.67
242    17.82
243    18.78
Name: total_bill, Length: 244, dtype: float64

In [25]:
tips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    object
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
dtypes: category(4), float64(1), int64(1), object(1)
memory usage: 7.4+ KB

In [26]:
tips['sex']

0      Female
1        Male
2        Male
3        Male
4      Female
        ...
239      Male
240    Female
241      Male
242      Male
243    Female
Name: sex, Length: 244, dtype: category
Categories (2, object): ['Male', 'Female']

In [27]:
tips['sex'].sort_values()

89       Male
110      Male
210      Male
112      Male
113      Male
        ...
117    Female
115    Female
114    Female
178    Female
243    Female
Name: sex, Length: 244, dtype: category
Categories (2, object): ['Male', 'Female']

In [30]:
tips['sex'].cat.categories #카테고리 내용확인

Index(['Male', 'Female'], dtype='object')

In [35]:
tips['sex'] = tips['sex'].cat.reorder_categories(['Female','Male'])

In [36]:
tips['sex']

0      Female
1        Male
2        Male
3        Male
4      Female
        ...
239      Male
240    Female
241      Male
242      Male
243    Female
Name: sex, Length: 244, dtype: category
Categories (2, object): ['Female', 'Male']

In [37]:
tips['sex'].sort_values()

0      Female
139    Female
137    Female
136    Female
135    Female
        ...
43       Male
42       Male
41       Male
39       Male
156      Male
Name: sex, Length: 244, dtype: category
Categories (2, object): ['Female', 'Male']

In [38]:
def my_sq(x):
    return x**2

def my_exp(x,n):
    return x**n

In [39]:
my_sq(4)

16

In [40]:
my_exp(2,4)

16

In [54]:
df = pd.DataFrame({'a':[10,20,30],
                   'b':[2,3,2]})
df

    a  b
0  10  2
1  20  3
2  30  2

In [55]:
df.a.apply(my_sq) # df.a에 my_sq함수를 적용

0    100
1    400
2    900
Name: a, dtype: int64

In [56]:
df.a.apply(my_exp,n=3)

0     1000
1     8000
2    27000
Name: a, dtype: int64

In [60]:
def df_print(x):
    print(x)
    return x[0] ** x[1]

In [64]:
df.apply(df_print,axis = 1) 
#axis=0이면 컬럼단위로 데이터를 받는다.
#axis=1이면 행단위로 데이터를 받는다.

a    10
b     2
Name: 0, dtype: int64
a    20
b     3
Name: 1, dtype: int64
a    30
b     2
Name: 2, dtype: int64

0     100
1    8000
2     900
dtype: int64